@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/*Top Level Rules*/

body {
	font-family: "Georgia", "Cambria", serif;
	/*	Best to be explicit, future proof */
	font-size: 16px;
	/*	1.5 x 16px is 24px.  1.4 or 1.5 is common for line heights */
	line-height: 1.5;
	width: 1100px;
	margin: 0 auto;
	/*	dark grey */
	color: #141618;
	/*	off white color*/
	background-color: #ecf0f1;
}


/*  HEADER STYLES  */

header {
	/*	affects logo and nav */
	text-align: center;
	margin: 60px 0;
	/*	pushes content away from the header */
}

h1 {
	/*	bit of space between h1 (logo) and nav below it*/
	margin: 0 0 60px 0;
}


/*  NAVIGATION STYLES  */

/*all anchors in the nav*/
nav a {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: #141618;
	text-decoration: none;
	margin: 0 40px 0 40px;
	text-transform: uppercase;
}

/*rollover styles - state selectors */

nav a:hover {
	color: #fac600;
}


/*  SECTION STYLES  */

section {
	background-color: #ffffff;
	margin: 0 0 40px 0;
}

h2 {
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	/*	remove default bottom margin from h2*/
	margin-bottom: 0;
}

h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 50px 0;	
}


.post-content {
	padding: 35px 240px 35px 240px;
}

.post-details {
	border-top: 2px solid #adadad;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #adadad;
}


/*  FOOTER STYLES  */

footer {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	color: #7e8081;
}

footer a {
	margin: 0 16px 0 16px;
	text-decoration: none;
}

/* RESPONSIVE DESIGN */

/* rules apply to all screens below 1100px, 
screens bigger than 1100px will ignore these styles*/

@media screen and (max-width: 1100px) {
	
	body {
		width: auto;
	}
	
	img, iframe {
		max-width: 100%;
	}
	
	header {
		margin: 30px 0 30px 0;
	}
	
	.post-content {
		padding: 35px 35px 35px 35px;
	}
}




















